#qualification {
  background-color: var(--bg-light);
  color: var(--text-dark);
  padding: var(--padding-lg);
  font-family: var(--font-main);
  line-height: 1.7;
}

#qualification h2 {
  font-size: var(--heading-lg);
  margin-bottom: 20px;
  color: var(--heading-dark);
  border-bottom: 2px solid var(--primary-accent);
  display: inline-block;
  padding-bottom: 5px;
}

#qualification ul {
  list-style: none;
  padding-left: 0;
}

#qualification li {
  margin-bottom: 15px;
  font-size: var(--text-lg);
}

/* Responsive */
@media (max-width: 768px) {
  #qualification {
    padding: var(--padding-md);
  }

  #qualification h2 {
    font-size: var(--heading-md);
  }

  #qualification li {
    font-size: var(--text-md);
  }
}

@media (max-width: 480px) {
  #qualification {
    padding: var(--padding-sm);
  }

  #qualification h2 {
    font-size: var(--heading-sm);
  }

  #qualification li {
    font-size: var(--text-sm);
  }
}
